{% extends 'app/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block main-content %}
<div class="container">
    {% if messages %}
        {% for msg in messages %}
           <div class="alert alert-danger" role="alert">
               {{msg}}
           </div>
     {% endfor %}
    {% endif %}
<div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
      <hr>
      {% for item in cart_items %}
        <div class="card mb-2">
            <div class="card-body">
                <h5>Product: {{item.product.title}}</h5>
                <p>Quantity: {{item.quantity}}</p>
                <p class="fw-bold">Price: {{item.product.discounted_price}}</p>
            </div>
          </div>
      {% endfor %}
      <p class="fm-bold">Total Cost + Rs. 40= {{totalamount}}</p>
      <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit,minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
  </div>
    <div class="col-sm-4 offset-sm-1">
        <h4>Select Shipping Address</h4>
        <hr>
        <form method="post" id="myform">
            {% csrf_token %}
            {% for ad in add %}
            <div class="card">
                <div class="card-body">
                    <h5>{{ad.name}}</h5>
                    <p>Mobile : {{ad.mobile}}</p>
                    <p>{{ad.locality}} {{ad.state}} - {{ad.zipcode}}</p>
                </div>
                  <div class="form-check mt-2 mb-5">
                      <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
                      <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
                          Address:{{forloop.counter}}</label>
                  </div>
                {% endfor %}


                  <div class="form-check mb-3">
                      <label for="totalamount" class="form-label">Total Amount</label>
                      <input type="number" class="form-control" name="totalmount" value={{totalamount}} readonly>
                  </div>
            <div class="text-end">
                <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
                {% comment %}<button id="rzp-button1" type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Payment</button>{% endcomment %}
            </div>

 </form>
    </div>
</div>

</div>
{% endblock main-content %}
{% comment %} Paytm Payment Form {% endcomment %}
         {% if param_dict %}
         <form method="post" action="{{param_dict.CHECKSUMHASH}}" class="mt-5">
            {% csrf_token %}
            {% for key, value in param_dict.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endfor %}
            <button type="submit" class="btn btn-success px-5 fw-bold">Pay Now</button>
         </form>
         {% endif %}
         {% comment %} End of Paytm Payment Form {% endcomment %}
    </

{% block payment-gateway %}
<script>

</script>

{% endblock payment-gateway %}

  <!--checkout.html using POST method -->
 <!--
{% extends 'app/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block main-content %}
<div class="container">
    <form action="payment_process.php" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required><br><br>

  <label for="locality">Locality:</label>
  <input type="text" id="locality" name="locality" required><br><br>

  <label for="city">City:</label>
  <input type="text" id="city" name="city" required><br><br>

  <label for="mobile">Mobile:</label>
  <input type="text" id="mobile" name="mobile" required><br><br>

  <label for="state">State:</label>
  <input type="text" id="state" name="state" required><br><br>

  <label for="zipcode">Zip Code:</label>
  <input type="text" id="zipcode" name="zipcode" required><br><br>

   <label for="amount">Total Amount:</label>
  <input type="text" id="amount" name="amount" required><br><br>

  <button type="submit" name="submit">Pay with Paytm</button>
</form>
{% comment %} Paytm Payment Form {% endcomment %}
         {% if param_dict %}
         <form method="post" action="{{param_dict.CHECKSUMHASH}}" class="mt-5">
            {% csrf_token %}
            {% for key, value in param_dict.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endfor %}
            <button type="submit" class="btn btn-success px-5 fw-bold">Pay Now</button>
         </form>
         {% endif %}
         {% comment %} End of Paytm Payment Form {% endcomment %}


</div>
{% endblock main-content %}
{% block payment-gateway %}
<script>

</script>


{% endblock payment-gateway %} -->
